{% extends "terminimal/templates/index.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="/local.css">
{% endblock extra_head %}

{% block header_menu %}
  {#{{ super() }}#}
  <nav class="menu">
    <ul class="menu__inner">
      {% for item in config.extra.menu_items %}
        <li><a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
    <form action="/search" method="GET">
      <input name="q" id="search-box" type="text" placeholder="Search site..." class="menu__inner"/>
    </form>
  </nav>
{% endblock header_menu %}

{% block content %}
  {% if section.content %}
    <section>
      {{ section.content | safe }}
    <section>
  {% endif %}
  {{ super() }}
{% endblock content %}
