{% extends "index.html" %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock title %}

{% block sidebar_toc %}
  <ul class="sidebar-toc">
    {% for h1 in page.toc %}
      <li>
        <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
          <ul>
            {% for h2 in h1.children %}
              <li>
                <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="spacer"></div>
  <div class="taxonomies">
    {% for taxonomy, values in page.taxonomies %}
      <a href="/{{ taxonomy }}"><h3>{{ taxonomy }}</h3></a>
      <div>
      {% for value in values %}
        <a href="/{{ taxonomy }}/{{ value }}/" class="tag">{{ value }}</a>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock sidebar_toc %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  {{ page.content | safe }}
</div>
<div id="search-target"></div>
{% endblock content %}
